:root{
    --color-fondo: #e1dfde;
    --color-card: #ffffed;
    --color-titulo: #363749;
    --color-texto: #908A8B;
}

body{
    background-color: var(--color-fondo);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card{
    width: 320px;
    height: 500px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color-card);
    border-radius: 25px;
}

.card__image{
    margin: 15px 15px;
}

.image{
    width: 287px;
    height: 288px;
}

.card__text{
    margin: 0 25px;
    text-align: center;
}

.card__text-title{
    color: var(--color-titulo);
}

.card__text-description{
    color: var(--color-texto);
}